<div class="container-fluid app-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 content-container">
      <div class="content-wrapper">
        <div class="menu-container">
          <div class="header text-center">
            <h1 class="logo">
              <img src="../assets/img/bank.png" alt="Logo Banco" class="logo-image">
              <i class="icono-banco"></i> BANCO
            </h1>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
